In [5]:
import pandas as pd
pd.options.display.max_columns = 50

### Cleaning US Postal Service data

In [6]:
usps = pd.read_csv("data/usps/us-post-offices-random-coords.csv")
usps

/var/folders/bq/_d8c7p312s33ztrq6l6cf91c0000gn/T/ipykernel_15600/2199213406.py:1: DtypeWarning: Columns (5,6,11) have mixed types. Specify dtype option on import or set low_memory=False.
  usps = pd.read_csv("data/usps/us-post-offices-random-coords.csv")

,Name,AltName,OrigName,State,County1,County2,County3,OrigCounty,Established,Discontinued,Continuous,StampIndex,ID,Coordinates,Duration,GNIS.Match,GNIS.Name,GNIS.County,GNIS.State,GNIS.FEATURE_ID,GNIS.Feature.Class,GNIS.OrigName,GNIS.OrigCounty,GNIS.Latitude,GNIS.Longitude,GNIS.ELEV_IN_M,GNIS.MatchScore,Latitude,Longitude,RandomCoordsFlag
0,A AND M COLLEGE,NaN,A AND M COLLEGE,MS,OKTIBBEHA,NaN,NaN,Oktibbeha,1922.0,1932.0,True,1,2,True,10.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.508712,-88.703363,True
1,A. B. C.,NaN,A. B. C.,TN,SUMNER,NaN,NaN,Sumner,1880.0,1914.0,True,4,3,True,34.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.419931,-86.563870,True
2,AARON,NaN,AARON,MO,BATES,NaN,NaN,Bates,1895.0,1933.0,True,2,4,True,38.0,True,AARON,BATES,MO,2091668.0,Post Office,Aaron Post Office (historical),Bates,38.422222,-94.154167,268.0,1.0,38.422222,-94.154167,False
3,AARON,NaN,AARON,TN,BENTON,NaN,NaN,Benton,1889.0,1890.0,True,5,5,True,1.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.205923,-88.094459,True
4,AARON,NaN,AARON,TN,BRADLEY,NaN,NaN,Bradley,1860.0,1860.0,True,9,6,True,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.143874,-84.931121,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166135,TRUE,NaN,TRUE,OK,HARMON,NaN,NaN,Harmon,1901.0,1905.0,True,6,166141,True,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.738756,-99.782970,True
166136,TRUE,NaN,TRUE,TX,YOUNG,NaN,NaN,Young,1894.0,1912.0,True,4,166142,True,18.0,True,TRUE,YOUNG,TX,1380679.0,Populated Place,TRUE,Young,33.279830,-98.728670,359.0,1.0,33.279830,-98.728670,False
166137,SIERRA BLANCA,NaN,SIERRA BLANCA,TX,HUDSPETH,NaN,NaN,Hudspeth,1882.0,NaN,True,0,166143,True,NaN,True,SIERRA BLANCA,HUDSPETH,TX,2732001.0,Post Office,Sierra Blanca Post Office,Hudspeth,31.175930,-105.360000,1380.0,1.0,31.175930,-105.360000,False
166138,GRAHAM'S MILLS,GRAHAMS MILLS,GRAHAM'S MILLS,TX,SHELBY,NaN,NaN,Shelby,1854.0,NaN,True,0,166144,True,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.962916,-94.393446,True
166139,CATLETT'S CREEK,CATLETTS CREEK,CATLETT'S CREEK,TX,WISE,NaN,NaN,Wise,1858.0,1867.0,True,7,166145,True,9.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.293333,-97.667680,True